<div class="check-plate-container">
  <div class="card">
    <div class="card-body">
      <form [formGroup]="plateCheckForm">
        <div class="mb-3">
          <label for="plate">Placa</label>
          <input type="text" id="plate" class="form-control" formControlName="plate" placeholder="IRM777" required
            [ngClass]="submittedForm && plateCheckForm.get('plate')?.invalid ? 'input-error': ''">
          <div *ngIf="submittedForm && plateCheckForm.get('plate')?.invalid">
            <small class="error-message">La placa no es válida.</small>
          </div>
        </div>
        <div class="mb-3">
          <label for="date">Fecha y Hora</label>
          <input type="datetime-local" id="date" class="form-control" formControlName="date" required
            [min]="localDateTime" [ngClass]="submittedForm && plateCheckForm.get('date')?.invalid ? 'input-error': ''">
          <div *ngIf="submittedForm && plateCheckForm.get('date')?.invalid">
            <small class="error-message">La fecha y hora no son válidas.</small>
          </div>
        </div>
        <div class="button">
          <img src="assets/buttons/icono_busqueda.svg" alt="boton para consultar hoy no circula" (click)="checkPlate()">
        </div>
      </form>
    </div>
  </div>
</div>

<!-- modal to show query result -->
<app-modal [isOpen]="isModalOpen" [title]="'RESULTADO'" (modalClosed)="modalClosed()">
  <!-- Contenido del modal -->
  <div class="restiction-result" *ngIf="registeredCar; else notFound">
    <p>En la fecha {{plateCheckForm.value.date | date: 'medium'}} el vehículo:</p>
    <span *ngIf="!restrictedCar" class="positive-result">SI</span>
    <span *ngIf="restrictedCar" class="negative-result">NO</span>
    <span>Puede circular</span>
  </div>
  <ng-template #notFound>
    <div class="not-found-result">
      <p>El vehículo con placa {{plateCheckForm.value.plate}} no se encuentra registrado</p>
      <div class="md-buttons">
        <button type="button" class="btn btn-danger" (click)="modalClosed()">Cancelar</button>
        <button type="button" class="btn btn-primary">
          <a routerLink="/register">Registrar vehículo</a>
        </button>
      </div>
    </div>
  </ng-template>
</app-modal>
