.check-plate-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: auto;
  width: 50%;
  height: 100%;
}

.card {
  width: 60%;
}

.button {
  display: flex;
  justify-content: center;
  img {
    width: 5rem;
    cursor: pointer;
  }
}

.input-error {
  border: 1px solid #dc3545;
  background-color: #f8d7da;
  color: #721c24;
}

.error-message {
  color: #dc3545;
}

.restiction-result {
  display: flex;
  flex-direction: column;
  align-items: center;
  p {
    padding: 0;
    margin: 0;
  }
}

.positive-result {
  color: #0000ff;
  font-weight: 500;
  padding: 0.2rem;
}

.negative-result {
  color: #ff0000;
  font-weight: 500;
  padding: 0.2rem;
}

.md-buttons {
  display: flex;
  justify-content: space-evenly;
  padding: 0.5rem;
  a {
    color: white;
    text-decoration: none;
  }
}
