<div class="home-container">
  <div class="subtittle">
    <h2 class="text-light">Servicios en línea</h2>
  </div>
  <div class="buttons">
    <a routerLink="/register">
      <div class="card">
        <img src="assets/buttons/boton_registro.png" alt="registro de autos">
        <div class="card-body">
          <span>Registro</span>
        </div>
      </div>
    </a>
    <a routerLink="/plate-check">
      <div class="card">
        <img src="assets/buttons/boton_fecha.png" alt="consulta de fecha de circulacion">
        <div class="card-body">
          <span>Consulta</span>
        </div>
      </div>
    </a>
  </div>
</div>
